@media screen and (max-width: 1200px) {
    header {
        .logo {
            font-size: 23px;
            display: inline-block;
            margin: 3px 0 0 0;
        }
        .nav {
            margin: 0;
            li {
                a {
                    padding: 10px 15px 10px 15px;
                }
            }
        }
        .user-wrapp {
            padding: 12px 0 0 40px;
        }
        .autoris {
            margin-right: 52px;
        }
    }
    .header-bottom {
        .time-block {
            width: 150px;
        }
        .select-puz {
            width: 150px;
            float: left;
            .select-puz-size {
                .jq-selectbox__trigger {
                    right: 0;
                }
            }
        }
        .hb-nav {
            float: left;
            li {
                a {
                    padding: 10px 12px 10px 12px;
                }
            }
        }
    }
    .main-slider {
        .title {
            font-size: 35px;
        }
        .slider-txt {
            font-size: 15px;
        }
    }
    .our-series {
        .page-title {
            margin: 24px 0 20px 0;
        }
        .themes-and-coll {
            .coll-item {
                width: 100%;
            }
        }
    }
    .pazzle_authors {
        .page-title-sm {
            margin: 35px 0 25px 0;
        }
    }
    .theme-item {
        height: 102px;
        .page-title-sm {
            font-size: 14px;
        }
        p {
            font-size: 12px;
        }
    }
    .top-gamers {
        .tg-list {
            a {
                text-overflow: ellipsis;
                overflow: hidden;
                width: 100px;
            }
        }
    }
    .pop-caleg {
        .pc-list {
            a {
                text-overflow: ellipsis;
                overflow: hidden;
                width: 100px;
            }
        }
    }
    .puz-item-bg {
        .item-prevue {
            .item-img {
                width: 100%;
            }
        }
    }
    .info2 {
        .puz-item-bg {
            width: 75%;
            margin: 0 auto 30px auto;
        }
        .rait-list {
            width: 74%;
            float: right;
        }
        .best-time {
            width: 74%;
        }
        .zack-pazl {
            width: 74%;
            .default-btn {
                margin: 0 auto;
            }
        }
        .similar {
            width: 75%;
            margin: 0 auto 40px auto;
        }
    }
    .oth-pers-room {
        .ava {
            > img {
                height: 45px;
                width: 45px;
            }
        }
        .user-header {
            .user-ava {
                .play-name {
                    font-size: 15px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    width: 150px;
                }
            }
            .user-inf {
                font-size: 11px;
                padding: 4px 0 0 25px;
            }
            .user-commun {
                padding: 0 0 0 35px;
                a, p {
                    font-size: 12px;
                }
                .dispatch {
                    margin: 5px 0 7px -15px !important;
                }
                .change-pass {
                    margin: 0 0 6px -15px;
                    display: block;
                }
            }
        }
        .friend-item {
            padding: 10px 0 10px 13px;
            .play-name {
                margin: 0 0 7px 20px;
                font-size: 15px;
                text-overflow: ellipsis;
                overflow: hidden;
                width: 110px;
            }
        }
    }
    .pazzle_players {
        .prof-inf-wp {
            padding: 0 15px;
        }
        .ava {
            .medal-list {
                .medal-gold {
                    width: 20px;
                }
                .new-player {
                    bottom: 26px;
                    width: 20px;
                }
            }
        }
        .prof-info {
            width: 100%;
            .ava-info {
                p {
                    width: 70%;
                    padding: 0;
                    margin: 0 0 0 19px;
                }
            }
            p {
                width: 100%;
                margin: 0;
                padding: 10px 0;
            }
        }
    }
    .create-pazl {
        padding: 0 20px;
        .zack-wp {
            width: 80%;
            margin: 0 auto;
            padding-right: 0;
        }
    }
    .themes-and-coll {
        .coll-item {
            width: 100%;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .togg-btn {
        display: block;
        font-size: 27.5px;
        width: 43px;
        height: 43px;
        text-align: center;
        color: white;
        background-color: #e87e04;
        position: absolute;
        top: 0;
        left: -43px;
        -webkit-box-shadow: 0 3px 9.7px 0.3px rgba(45, 49, 56, 0.3);
        box-shadow: 0 3px 9.7px 0.3px rgba(45, 49, 56, 0.3);
        transition: all 0.5s linear; 
        i {
            display: inline-block;
            vertical-align: middle;
        }
        &:hover {
            background-color: #e87e04;
        }
        &:focus {
            background-color: #e87e04;
        }
    }
    header {
        height: auto;
        .nav {
            display: none;
        }
        .logo {
            font-size: 28px;
            margin: 0 0 6px 0;
        }
        #nav-icon1 {
            width: 38px;
            height: 31px;
            position: relative;
            margin: 7px auto 0 auto;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .5s ease-in-out;
            -moz-transition: .5s ease-in-out;
            -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
            cursor: pointer;
        }

        #nav-icon1 span {
            display: block;
            position: absolute;
            height: 4px;
            width: 100%;
            background: #ffffff;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
        }

        #nav-icon1 span:nth-child(1) {
          top: 0px;
        }

        #nav-icon1 span:nth-child(2) {
          top: 13px;
        }

        #nav-icon1 span:nth-child(3) {
          top: 26px;
        }

        #nav-icon1.open span:nth-child(1) {
          top: 13px;
          -webkit-transform: rotate(135deg);
          -moz-transform: rotate(135deg);
          -o-transform: rotate(135deg);
          transform: rotate(135deg);
        }

        #nav-icon1.open span:nth-child(2) {
          opacity: 0;
          left: -60px;
        }

        #nav-icon1.open span:nth-child(3) {
          top: 13px;
          -webkit-transform: rotate(-135deg);
          -moz-transform: rotate(-135deg);
          -o-transform: rotate(-135deg);
          transform: rotate(-135deg);
        }
        .user-wrapp {
            display: none;
        }
        .user-wp-mob {
            display: inline-block;
            float: right;
        }
    }
    .header-bottom {
        text-align: center;
        font-size: 0;
        .time-block {
            float: none;
            vertical-align: top;
        }
        .select-puz {
            float: none;
            vertical-align: top;
        }
    }
    .fixtab-menu {
        display: block;
        width: 170px;
        position: fixed;
        top: 100px;
        right: -170px;
        z-index: 2000;
        -webkit-box-shadow: 0 3px 9.7px 0.3px rgba(45, 49, 56, 0.3);
        box-shadow: 0 3px 9.7px 0.3px rgba(45, 49, 56, 0.3);
        transition: right 0.2s linear;
    }
    .togg-fixtab{
        right: 0;
    }
    .hb-nav {
        padding: 10px;
        background-color: #3059a2;
        float: none;
        height: auto;
        li {
            display: block !important;
            width: 100%;
            position: relative;
            &:last-child {
                margin-bottom: 0;
            }
            a {
                width: 100%;
                display: block;
                padding: 5px;
                color: white;
                &:hover {
                    text-decoration: none;
                    background-color: #466fb7;
                    color: white;
                }
                &:focus {
                    text-decoration: none;
                    background-color: #466fb7;
                    color: white;
                }
            }
        }
    }
    .enter-m,
    .registration-m,
    .help-m, .user-m {
        color: white;
        font-size: 25px;
        display: inline-block;
        margin-right: 20px;
        margin-top: 4px;
        &:hover {
            color: #00b9ff;
        }
        &:focus {
            color: #00b9ff;
        }
    }
    .help-m {
        margin-right: 0px;
    }
    .sub-nav-m {
        display: none;
    }
    .main-slider {
        .title {
            font-size: 25px;
        }
        .slider-txt {
            font-size: 14px;
            width: 80%;
            margin: 0 auto;
        }
    }
    .our-series {
        .themes-and-coll {
            .coll-item {
                width: 100%;
                img {
                    height: 100%;
                }
            }
        }
    }
    .friend-item {
        .play-name {
            text-overflow: ellipsis;
            overflow: hidden;
            width: 120px;
        }
        p {
            font-size: 12px;
        }
    }
    .ava {
        > img {
            height: 40px;
            width: 40px;
        }
    }
    .page-404 {
        background-size: 100% 100%;
    }
    .theme-item {
        margin-bottom: 30px;
    }
    .name-theme {
        .count-comm {
            margin: 0 40px 0 0;
        }
    }
    .search-wp {
        .search-th {
            width: 200px;
        }
    }
    .theme-wp .default-btn {
        width: 120px;
        line-height: 38.5px;
        font-size: 14px;
    }
    .us-vk {
        width: 80%;
        margin: 30px auto 30px auto;
    }
    .top-gamers {
        width: 80%;
        margin: 30px auto 30px auto;
    }
    .pop-caleg {
        width: 80%;
        margin: 30px auto 30px auto;
    }
    .puz-item-bg {
        width: 80%;
        margin: 0 auto 30px auto;
    }
    .best-time {
        width: 80%;
        margin: 0 auto 30px auto;
    }
    .rait-list {
        width: 80%;
        margin: 0 auto 30px auto;
    }
    .similar-info {
        .similar {
            width: 80%;
            margin: 0 auto 30px auto;
        }
    }
    .info2 {
        .puz-item-bg {
            width: 80%;
            margin: 0 auto 30px auto;
        }
        .rait-list {
            width: 80%;
            float: none;
        }
        .best-time {
            width: 80%;
            .page-title-sm {
                width: 100%;
            }
        }
        .zack-pazl {
            width: 80%;
            margin: 0 auto 30px auto;
            .default-btn {
                width: 100%;
                margin: 0 auto;
            }
        }
        .similar {
            width: 80%;
            margin: 0 auto 40px auto;
        }
        .puz-item-sm {
            width: 60%;
            margin: 0 auto;
            position: relative;
        }
    }
    .oth-pers-room {
        border-radius: 5px;
        .fr-width-12 {
            .friend-item {
                width: 100%;
                .play-name {
                    margin: 0 80px -2px 20px;
                }
            }
        }
        .user-header {
            height: auto;
            .user-ava {
                width: 50%;
                border-right: none;
                .play-name {
                    margin: 5px 0 5px 25px;
                }
                .name {
                    display: block;
                    margin: 0px 0 0 71px;
                }
            }
            .user-inf {
                font-size: 12px;
                padding: 4px 0 0 25px;
                width: 50%;
                border-right: none;
                border-left: none;
            }
            .user-commun {
                width: 50%;
                height: auto;
                border-right: 0.5px solid #193973;
                margin-bottom: 10px;
                border-left: none;
                padding: 0;
                .add-friend {
                    display: none;
                }
                .send-mess {
                    display: none;
                }
                .commum-wp {
                    display: block;
                    width: fit-content;
                    margin: 0 auto;
                }
                .add-friend-m {
                    font-size: 30px;
                    display: inline-block;
                    margin: 0 40px 10px 0 !important;
                    width: fit-content;
                }
                .send-mess-m {
                    font-size: 30px;
                    display: inline-block;
                    margin: 0 0 10px 0;
                    width: fit-content;
                }
                .dispatch {
                    margin: 5px auto 7px auto !important;
                    display: block;
                    width: fit-content;
                }
                .change-pass {
                    margin: 0 auto 6px auto;
                    display: block;
                    width: fit-content;
                }
            }
            .user-rait {
                width: 50%;
                height: auto;
                margin: 0;
                background-color: #3059a2;
                border-left: 0.5px solid #193973;
                p {
                    br {
                        display: none;
                    }
                }
                .rating {
                    font-size: 30px;
                    margin-left: 10px;
                }
            }
            .user-menu {
                .navig {
                    li {
                        a {
                            font-size: 11px;
                            padding: 13px 8px 13px 8px;
                        }
                    }
                }
                .create-p {
                    font-size: 13px;
                    padding: 0 0 0 37px;
                    &:before {
                        left: 20px;
                    }
                }
            }
        }
        .puzzles-categ {
            .self {
                margin: 24px 15px 29px 15px;
            }
            .favorites-puz, .played-puz, .created-puz {
                padding: 0 15px 0 15px;
            } 
        }
        .friends {
            padding: 0 15px;
        }
        .friend-item {
            width: 31.4%;
            border-radius: 5px;
            padding: 15px 0 10px 13px;
            float: left;
            margin: 0 20px 30px 0;
            &:nth-child(3) {
                margin: 0 0 30px 0;
            }
        }
    }
    .profile-puzzles {
        .puz-item-sm {
            overflow: auto;
        }
    }
    .settings {
        padding-left: 0;
        a {
            margin: 35px 0 40px 35px!important;
        }
    }
    .checkbox,
    .checkbox2,
    .checkbox3 {
        &:not(checked) {
            margin: 0!important;
            + label {
                margin: 0!important;
            }
        }
    }
    .series-themes-wp {
        float: left;
        clear: left;
        margin-top: 20px;
    }
}

@media screen and (max-width: 767px) {
    header {
        .logo {
            font-size: 22px;
            margin: 2px 0 8px 0;
        }
    }
    #nav-icon1 {
        margin: 4px auto 0 auto !important;
    }
    .enter-m,
    .registration-m,
    .help-m, .user-m {
        font-size: 23px;
        margin-right: 21px;
        margin-top: 1px;
    }
    .help-m {
        margin-right: 0;
    }
    .main-slider {
        height: 250px;
        .title {
            font-size: 14px;
            margin: 80px 0 20px 0;
        }
        .slider-txt {
            font-size: 10px;
            width: 80%;
            margin: 0 auto;
        }
        .owl-nav {
            .owl-prev {
                position: absolute;
                top: 80px;
                left: 6%;
            }
            .owl-next {
                position: absolute;
                top: 80px;
                right: 6%;
            }
        }
    }
    .page-title {
        font-size: 26px;
        margin: 25px auto 35px auto;
        display: block;
        width: fit-content;
    }
    .puz-item-wp {
        width: 75%;
        margin: 0 auto 30px auto;
    }
    .most-favorites-puz {
        .main-btn {
            width: 60%;
            margin: 37px auto 68px auto;
        }
    }
    .our-series {
        .page-title {
            margin: 24px auto 20px auto;
        }
    }
    .our-series {
        .themes-and-coll {
            .coll-item {
                width: 75%;
                margin: 0 auto 30px auto;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .friend-item {
        width: 75%;
        margin: 0 auto 30px auto;
        .play-name {
            text-overflow: ellipsis;
            overflow: hidden;
            width: 135px;
        }
        p {
            font-size: 14px;
        }
    }
    .site-descr {
        p {
            font-size: 14px;
        }
    }
    .page-404 {
        .center-txt {
            font-size: 14px;
            top: 60%;
            width: 310px;
            a {
                font-size: 14px;
                background: white;
            }
        }
    }
    .theme-item {
        width: 80%;
        margin: 0 auto 30px auto;
    }
    .name-theme {
        .right-wp {
            text-align: center;
            width: 100%;
            float: none;
            margin-top: 15px;
        }
        .th-user {
            .th-user-name {
                    margin: 0 15px 0 0;
            }
        }
    }
    #enter-modal, #reg-modal, #create-puzzle {
        .title-wp {
            height: auto;
            display: block;
            padding: 15px;
            background: none;
            text-align: center;
            position: relative;
            float: none;
            border-radius: 5px 5px 0 0;
            background-color: #3059a2;
            .title {
                font-size: 36px;
                margin: 0;
                -o-transform: none;
                -ms-transform: none;
                -moz-transform: none;
                transform: none;
                -webkit-transform: none;
                position: initial;
                height: auto;
            }
        }
        .cont-wp {
            float: none!important;
            padding: 0 15px!important;
        }
        input {
            width: 100%!important;
        }
        .vk,
        .fb,
        .tw,
        .ok,
        .g {
            width: 40px!important;
            height: 40px!important;
            margin-right: 10px!important;
        }
        .g {
            margin-right: 0px!important;
        }
        .reg-new {
            margin-bottom: 20px!important;
        }
        .social {
            display: block;
            width: fit-content;
            margin: 0 auto;
        }
    }
    .reg-cont {
        .login {
            margin: 25px 15px 20px 0 !important;
        }
        .pass {
            margin: 0 15px 20px 0 !important;
        }
        .title-wp {
            height: auto!important;
        }
    }
    #reg-modal {
        width: 300px !important;
    }
    .theme-wp {
        display: block;
        float: none;
        margin: 25px auto 35px auto;
        width: fit-content;
    }
    .puz-item-wp {
        width: 100%;
        margin: 0 auto 30px auto;
    }
    .puz-item-bg {
        width: 60%;
        margin: 0 auto 30px auto;
    }
    .best-time {
        width: 60%;
        margin: 0 auto 30px auto;
    }
    .rait-list {
        width: 60%;
        margin: 0 auto 30px auto;
    }
    .similar-info {
        .similar {
            width: 60%;
            margin: 0 auto 30px auto;
        }
        .puz-item-sm {
            position: relative;
        }
    }
    .info2 {
        .puz-item-sm {
            width: 70% !important;
            margin: 0 auto;
            position: relative !important;
        }
    }
    .most-favorites-puz {
        .puz-item-sm {
            width: 55%;
            position: relative;
        }
    }
    .pazzle_list {
        .puz-item-sm {
            width: 55%;
            position: relative;
        }
    }
    .oth-pers-room {
        .user-header {
            overflow: inherit;
            .user-ava {
                width: 100%;
            }
            .user-inf {
                width: 100%;
                p {
                    width: 100%;
                }
            }
            .user-rait {
                p {
                    margin: 10px 0 14px 0;
                }
                .rating {
                    font-size: 20px;
                }
            }
            .user-menu {
                position: relative;
                .navig {
                    display: none;
                    position: absolute;
                    z-index: 100;
                    width: 100%;
                    height: auto;
                    top: 40px;
                    -webkit-box-shadow: 0 3px 9.7px 0.3px rgba(45, 49, 56, 0.3);
                    box-shadow: 0 3px 9.7px 0.3px rgba(45, 49, 56, 0.3);
                    li {
                        display: block;
                        margin: 0 auto;
                        position: relative;
                        width: fit-content;
                        &:last-child {
                            margin-bottom: 10px;
                        }
                    }
                    .new-mess {
                        right: 0px;
                    }
                }
                .create-p {
                    padding: 0 0 0 0;
                    text-align: center;
                    &:before {
                        display: none;
                    }
                }
                .mob-secmenu {
                    display: inline-block;
                    width: 28%;
                    height: 100%;
                    background-color: #284b8b;
                    border: none;
                    box-shadow: none;
                    float: left;
                    color: white;
                    font-size: 14px;
                    font-weight: bold;
                }
                .create-p {
                    width: 28%;
                    float: right;
                }
            }
        }
        .friend-item {
            width: 46%;
            border-radius: 5px;
            padding: 15px 0 10px 13px;
            float: none;
            margin: 0 auto 30px auto;
            display: block;
            p {
                width: 75%;
            }
            &:nth-child(3) {
                margin: 0 auto 30px auto;
            }
        }
        .puz-item-sm {
            width: 50%;
            margin: 0 auto;
            position: relative;
        }
        .fr-width-12 {
            .friend-item {
                width: 60%;
            }
        }
    }
    .pazzle_players { 
        .prof-info {
            width: 60%;
            margin: 0 auto 30px auto;
        }
    }
    .create-pazl {
        a {
            margin: 0 0 30px 0;
        }
        .upl-im-wp {
            margin: 0 0 30px 0;
        }
    }
    .checkbox,
    .checkbox2,
    .checkbox3 {
        &:not(checked) {
            margin: 0!important;
            + label {
                margin: 50px 0 0 0!important;
            }
        }
    }
    .friend-item {
        width: 85%;
        p {
            width: 75%;
        }
    }
    .themes-and-coll {
        .coll-item {
            width: 60%;
            margin: 0 auto 30px auto;
        }
    }
}
@media screen and (max-width: 700px) {
    .oth-pers-room {
        .friend-item {
            width: 60% !important;
        }
    }
    .most-favorites-puz {
        .puz-item-sm {
            width: 60%;
            position: relative;
        }
    }
}
@media screen and (max-width: 550px) {
    .most-favorites-puz {
        .puz-item-sm {
            width: 70%;
            position: relative;
        }
        .main-btn {
            width: 75%;
        }
    }
    .pazzle_list {
        .puz-item-sm {
            width: 70%;
            position: relative;
        }
    }
    .oth-pers-room {
        .puz-item-sm {
            width: 75%;
            margin: 0 auto;
            position: relative;
        }
        .friend-item {
            width: 70% !important;
        }
    }
    .filtr-list {
        text-align: center;
        float: none;
        .filtr-ul {
            li {
                display: block;
                margin-right: 0;
                margin-bottom: 10px;
            }
            span {
                display: none;
            }
        }
    }
    .series-themes-wp {
        float: none;
        clear: none;
        margin: 20px auto 0 auto;
        width: fit-content;
    }
    .search-wp {
        display: block;
        margin: 0 auto 20px auto;
    }
}
@media screen and (max-width: 500px) {
    .puz-item-wp {
        width: 100%;
        margin: 0 auto 30px auto;
    }
    .puz-item-bg {
        width: 80%;
        margin: 0 auto 30px auto;
    }
    .best-time {
        width: 80%;
        margin: 0 auto 30px auto;
    }
    .rait-list {
        width: 80%;
        margin: 0 auto 30px auto;
    }
    .similar-info {
        .similar {
            width: 80%;
            margin: 0 auto 30px auto;
        }
    }
    .info2 {
        .similar {
            width: 100%;
            margin: 0 auto 30px auto;
        }
        .puz-item-sm {
            width: 85% !important;
            margin: 0 auto;
            position: relative !important;
        }
    }
    .most-favorites-puz {
        .puz-item-sm {
            width: 75%;
            position: relative;
        }
    }
    .pazzle_list {
        .puz-item-sm {
            width: 75%;
            position: relative;
        }
    }
    .oth-pers-room {
        .puz-item-sm {
            width: 80%;
            margin: 0 auto;
            position: relative;
        }
        .friend-item {
            width: 85%!important;
        }
    }
    .pazzle_players { 
        .prof-info {
            width: 75%;
            margin: 0 auto 30px auto;
        }
    }
    .name-theme {
        > a {
            display: block;
            margin: 0 auto;
            width: fit-content;
        }
    }
    .name-theme {
        .th-user {
            .th-user-name {
                text-overflow: ellipsis;
                overflow: hidden;
                width: 70px;
                height: 16px;
            }
        }
    }
    .themes-and-coll {
        .coll-item {
            width: 75%;
        }
    }
}

@media screen and (max-width: 400px) {
    header {
        .logo {
            font-size: 18px;
            margin: 5px 0 10px 0;
            img {
                width: 22px;
                height: 22px;
                margin: 0 7px 0 0;
            }
        }
    }
    .theme-wp {
        text-align: center;
    }
    .name-theme {
        padding: 22px 0 22px 10px;
    }
    .search-wp {
        margin: 0 0 20px 0;
        width: 100%;
        .search-th {
            width: 100%;
        }
    }
    .puz-item-wp {
        width: 100%;
        margin: 0 auto 30px auto;
    }
    .puz-item-bg {
        width: 85%;
        margin: 0 auto 30px auto;
    }
    .best-time {
        width: 85%;
        margin: 0 auto 30px auto;
    }
    .rait-list {
        width: 85%;
        margin: 0 auto 30px auto;
    }
    .similar-info {
        .similar {
            width: 85%;
            margin: 0 auto 30px auto;
        }
    }
    .info2 {
        .similar {
            width: 100%;
            margin: 0 auto 30px auto;
        }
        .puz-item-sm {
            width: 90% !important;
            margin: 0 auto;
            position: relative !important;
        }
    }
    .most-favorites-puz {
        .puz-item-sm {
            width: 85%;
            position: relative;
        }
    }
    .pazzle_list {
        .puz-item-sm {
            width: 85%;
            position: relative;
        }
    }
    .oth-pers-room {
        .user-header {
            .user-ava {
                width: 100%;
                border-right: none;
            }
            .user-inf {
                width: 100%;
                height: auto;
                border-left: none;
                .user-inf-w {
                    width: 100%;
                }
                .user-inf-w {
                    width: 100% !important;
                }
            }
            .user-rait {
                p {
                    margin: 10px 0 14px 0;
                }
                .rating {
                    font-size: 20px;
                }
            }
            .user-commun {
                padding: 0;
                .add-friend-m {
                    margin: 0 25px 10px 0 !important;
                }
                .dispatch {
                    &:after {
                        display: none;
                    }
                }
            }
            .user-menu {
                .mob-secmenu {
                    width: 50%;
                }
                .create-p {
                    width: 50%;
                }
            }
        }
        .puz-item-sm {
            width: 80%;
            margin: 0 auto;
            position: relative;
        }
        .friend-item {
            width: 100%!important;
            p {
                width: 60%;
            }
        }
        .themes-and-coll {
            .coll-item {
                width: 80%;
            }
        }
    }
    .pazzle_players { 
        .prof-info {
            width: 85%;
            margin: 0 auto 30px auto;
        }
    }
    .friend-item {
        width: 90%;
    }
    .enter-m,
    .registration-m,
    .help-m, .user-m {
        margin-right: 10px;
    }
}

@media screen and (max-width: 320px) {
    #nav-icon1 {
        width: 32px !important;
    }
    .enter-m,
    .registration-m,
    .help-m, .user-m {
        font-size: 22px;
        margin-right: 16px;
        margin-top: 1px;
    }
    .help-m {
        margin-right: 0;
    }
    .main-slider {
        .owl-nav {
            .owl-prev {
                position: absolute;
                top: 80px;
                left: 4%;
            }
            .owl-next {
                position: absolute;
                top: 80px;
                right: 4%;
            }
        }
    }
    .puz-item-wp {
        width: 90%;
    }
    .our-series {
        .themes-and-coll {
            .coll-item {
                width: 90%;
            }
        }
    }
    .friend-item {
        width: 90%;
    }
    .page-title {
        font-size: 21px;
    }
    .page-404 {
        height: 150px;
        img {
            display: none;
        }
        .center-txt {
            font-size: 14px;
            top: 30%;
            width: 185px;
            a {
                font-size: 14px;
            }
        }
    }
    .theme-item {
        width: 90%;
    }
    .name-theme {
        .count-comm {
            margin: 0 15px 0 0;
        }
        .th-user {
            .th-user-name {
                margin: 0 15px 0 0;
            }
        }
    }
    .puz-item-wp {
        width: 100%;
        margin: 0 auto 30px auto;
    }
    .puz-item-bg {
        width: 95%;
        margin: 0 auto 30px auto;
    }
    .best-time {
        width: 95%;
        margin: 0 auto 30px auto;
    }
    .rait-list {
        width: 95%;
        margin: 0 auto 30px auto;
    }
    .similar-info {
        .similar {
            width: 95%;
            margin: 0 auto 30px auto;
        }
    }
    .info2 {
        .similar {
            width: 100%;
            margin: 0 auto 30px auto;
        }
        .puz-item-sm {
            width: 100% !important;
            margin: 0 auto;
            position: relative !important;
        }
    }
    .pazzle_list {
        .puz-item-sm {
            width: 100%;
            position: relative;
        }
    }
    .oth-pers-room {
        .puz-item-sm {
            width: 100%;
            margin: 0 auto;
            position: relative;
        }
    }
    .pazzle_players { 
        .prof-info {
            width: 95%;
            margin: 0 auto 30px auto;
        }
    }
    .themes-and-coll {
        .coll-item {
            width: 90%;
        }
    }
    .create-pazl {
        .upload-area {
            span {
                font-size: 13px;
            }
        }
    }
    .most-favorites-puz {
        .puz-item-sm {
            width: 95%;
            position: relative;
        }
    }
}
